celeb_concat/
classifier/
content/
editing_test/
editings/styleclip_mapper/exp_dir/
experiment/
hfgi_output/
metrics/
pics/
pretrained/
pti/
pti_test/
test_data/
test_imgs/
afro.pt
mohawk.pt
*.zip
*.pyc